html {
  height: 100%;
}

body {
  background: linear-gradient(#0085FF, #005CFF);
  color: white;
  text-shadow: 0 2px 6px black;
  background-attachment: fixed;
  font-family: 'Rubik', sans-serif;
  font-size: 2.6em;
  transition: .2s background ease-out;
}

.title {
  font-family: 'Damion', cursive;
  font-size: 50px;
}

.weatherbox {
  opacity: 1;
  transition: .4s opacity ease-out;
}

.fade-out {
  opacity: 0;
  transition: none;
}

.screen-reader-text {
  clip: rect(1px, 1px, 1px, 1px);
  height: 1px;
  width: 1px;
  overflow: hidden;
  position: absolute !important;
}


/* glow animation for most icons */

.wi {
  margin: 20px 0 12px 0;
  font-size: 5em;
  text-shadow: 0 0 60px white;
  animation: glow 1.2s ease-in-out infinite alternate;
}


/* special animation for sun! */

.wi-day-sunny {
  -webkit-animation: spin 20s linear infinite;
  animation: spin 20s linear infinite;
}

@-webkit-keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}

@-webkit-keyframes glow {
  to {
    text-shadow: 0 0 30px white;
  }
}

@keyframes glow {
  to {
    text-shadow: 0 0 30px white;
  }
}
